input_path: /mnt/petrelfs/gaoxin/OpenDataArena-Tool/data_scorer/model_based/data/failratedemodata.jsonl
output_path: results/test/
num_gpu: 4
num_gpu_per_job: 1
scorers:
- name: AnswerProbScorer
  model: /mnt/dhwfile/raise/data-leaderboard/model/gaoxin/Qwen3-8B
  max_length: 4096
  batch_size: 2
  num_gpu_per_job: 1
  case_sensitive: true
