input_path: ../data_process/example_input.jsonl
output_path: results/ApjsScorer/
num_gpu: 4
num_gpu_per_job: 1
scorers:
- name: ApJsScorer
  tokenization_method: gram
  n: 1
  similarity_method: direct
  num_gpu_per_job: 0
  max_workers: 128
  sample_pairs: 1000
