input_path: /mnt/petrelfs/gaoxin/OpenDataArena-Tool/data_scorer/model_based/data/failratedemodata.jsonl
output_path: results/test/
num_gpu: 4
num_gpu_per_job: 1
scorers:
- name: ApJsScorer
  tokenization_method: gram
  n: 1
  similarity_method: direct
  num_gpu_per_job: 0
  max_workers: 128
  sample_pairs: 1000
