input_path: /mnt/petrelfs/gaoxin/OpenDataArena-Tool/data_scorer/model_based/data/failratedemodata.jsonl
output_path: results/demo_per_scorer_advanced/
num_gpu: 4
num_gpu_per_job: 1
scorers:
- name: FacilityLocationScorer
  embedding_path: /mnt/petrelfs/gaoxin/OpenDataArena-Tool/data_scorer/model_based/results1/FacilityLocationScorer/wholeset_embeddings.npy
  subset_embeddings_path: /mnt/petrelfs/gaoxin/OpenDataArena-Tool/data_scorer/model_based/results1/FacilityLocationScorer/subset_embeddings.npy
  distance_metric: cosine
  max_workers: 128
  num_gpu_per_job: 0
