input_path: ../data_process/example_input_w_answer.jsonl
output_path: results/FailRateScorer/
num_gpu: 4
num_gpu_per_job: 1
scorers:
- name: FailRateScorer
  model: Qwen/Qwen3-8B
  output_path: results/demo_per_scorer_advanced/master_temp/scorer_FailRateScorer/
  metrics_sample_size: 2
  generation_size: 4096
  num_gpu_per_job: 1
  dtype: bfloat16
  max_num_batched_tokens: 4096
  max_model_length: 4096
  gpu_memory_utilization: 0.9
  temperature: 0.6
  top_p: 0.95
