input_path: /mnt/petrelfs/gaoxin/OpenDataArena-Tool/data_scorer/model_based/data/failratedemodata.jsonl
output_path: results/demo_per_scorer_advanced/
num_gpu: 4
num_gpu_per_job: 1
scorers:
- name: FinewebEduScorer
  model: /share/wulijun/gaoxin/local_models/fineweb-edu-classifier/fineweb-edu-classifier
  max_length: 512
  batch_size: 4
  num_gpu_per_job: 1
