input_path: /mnt/petrelfs/gaoxin/OpenDataArena-Tool/data_scorer/model_based/data/failratedemodata.jsonl
output_path: results/demo_per_scorer_advanced/
num_gpu: 4
num_gpu_per_job: 1
scorers:
- name: InfOrmScorer
  model: /mnt/dhwfile/raise/data-leaderboard/model/gaoxin/INF-ORM-Llama3.1-70B
  batch_size: 8
  max_length: 2048
  num_gpu_per_job: 4
