input_path: /mnt/petrelfs/gaoxin/OpenDataArena-Tool/data_scorer/model_based/data/failratedemodata.jsonl
output_path: results/demo_per_scorer_advanced/
num_gpu: 4
num_gpu_per_job: 1
scorers:
- name: LogDetDistanceScorer
  embedding_path: /mnt/petrelfs/gaoxin/OpenDataArena-Tool/data_scorer/model_based/results1/LogDetDistanceScorer/diverse_embeddings_128x1024.npy
  ridge_alpha: 1e-10
  num_gpu_per_job: 0
  max_workers: 128
