input_path: /mnt/petrelfs/gaoxin/OpenDataArena-Tool/data_scorer/model_based/data/failratedemodata.jsonl
output_path: results/demo_per_scorer_advanced/
num_gpu: 4
num_gpu_per_job: 1
scorers:
- name: MIWVScorer
  embedding_path: /mnt/petrelfs/gaoxin/OpenDataArena-Tool/data_scorer/model_based/results1/ClusterInertiaScorer/mock_embeddings.npy
  batch_size: 8
  max_length: 8192
  distance_metric: cosine
  model: /share/wulijun/gaoxin/local_models/Qwen3-8B
  num_gpu_per_job: 4
