input_path: /mnt/petrelfs/gaoxin/OpenDataArena-Tool/data_scorer/model_based/data/failratedemodata.jsonl
output_path: results/demo_per_scorer_advanced/
num_gpu: 4
num_gpu_per_job: 1
scorers:
- name: NuclearNormScorer
  model: /share/wulijun/gaoxin/local_models/Qwen3-1.7B
  max_length: 512
  start_layer_index: 10
  num_layers: 2
  num_gpu_per_job: 1
