input_path: /mnt/petrelfs/gaoxin/OpenDataArena-Tool/data_scorer/model_based/data/failratedemodata.jsonl
output_path: results/demo_per_scorer_advanced/
num_gpu: 4
num_gpu_per_job: 1
scorers:
- name: RMDeBERTaScorer
  model: /share/wulijun/gaoxin/local_models/reward-model-deberta-v3-large-v2
  max_length: 4096
  batch_size: 8
  num_gpu_per_job: 1
