input_path: /mnt/petrelfs/gaoxin/OpenDataArena-Tool/data_scorer/model_based/data/failratedemodata.jsonl
output_path: results/demo_per_scorer_advanced/
num_gpu: 4
num_gpu_per_job: 1
scorers:
- name: SelectitModelScorer
  models:
  - /mnt/dhwfile/raise/data-leaderboard/model/gaoxin/Qwen3-8B
  - /share/wulijun/gaoxin/local_models/Qwen2.5-7B-Instruct
  model_weights:
  - 0.5
  - 0.5
  rp_file: /mnt/petrelfs/gaoxin/OpenDataArena-Tool/data_scorer/model_based/scorers/SelectIT_rating_prompt.txt
  k: 5
  alpha: 0.2
  max_length: 512
  batch_size: 8
  num_gpu_per_job: 1
