input_path: /mnt/petrelfs/gaoxin/OpenDataArena-Tool/data_scorer/model_based/data/failratedemodata.jsonl
output_path: results/demo_per_scorer_advanced/
num_gpu: 4
num_gpu_per_job: 1
scorers:
- name: SelectitTokenScorer
  model: /share/wulijun/gaoxin/local_models/Qwen3-8B
  max_length: 512
  batch_size: 8
  rp_file: /mnt/petrelfs/gaoxin/OpenDataArena-Tool/data_scorer/model_based/scorers/SelectIT_rating_prompt.txt
  k: 5
  alpha: 0.2
  num_gpu_per_job: 1
