input_path: /mnt/petrelfs/gaoxin/OpenDataArena-Tool/data_scorer/model_based/data/failratedemodata.jsonl
output_path: results/demo_per_scorer_advanced/
num_gpu: 4
num_gpu_per_job: 1
scorers:
- name: Task2VecScorer
  model: /mnt/dhwfile/raise/data-leaderboard/model/gaoxin/gpt2
  max_length: 512
  num_gpu_per_job: 4
  last_layer_only: true
