input_path: /mnt/petrelfs/gaoxin/OpenDataArena-Tool/data_scorer/model_based/data/failratedemodata.jsonl
output_path: results/demo_per_scorer_advanced/
num_gpu: 4
num_gpu_per_job: 1
scorers:
- name: UniEvalDialogScorer
  model: /mnt/dhwfile/raise/data-leaderboard/model/gaoxin/unieval-dialog
  max_length: 1024
  batch_size: 2
  overall: true
  num_gpu_per_job: 1
