input_path: /mnt/petrelfs/gaoxin/OpenDataArena-Tool/data_scorer/model_based/data/failratedemodata.jsonl
output_path: results/demo_per_scorer_advanced/
num_gpu: 4
num_gpu_per_job: 1
scorers:
- name: UPDScorer
  model: /mnt/dhwfile/raise/data-leaderboard/model/gaoxin/Qwen3-8B
  max_length: 2048
  batch_size: 4
  num_gpu_per_job: 1
