input_path: ../data_process/example_input.jsonl
output_path: results/VocdDScorer/
num_gpu: 4
num_gpu_per_job: 1
scorers:
- name: VocdDScorer
  ntokens: 50
  within_sample: 100
  seed: 42
  max_workers: 128
  num_gpu_per_job: 0
